<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<!--// head fragment includes meta tags, title, and link to stylesheets //-->
<head th:replace="~{fragments :: head}">
</head>
<body>

<!--// page header fragment includes navigation and other common header elements //-->
<div th:replace="~{fragments :: page-header}">
</div>

<!--// main content container //-->m
<div class="container body-content">

    <!--// dynamically sets the page title w/ each word capitalized //-->
    <h1 th:text="${#strings.capitalizeWords(title)}">
    </h1>

    <!--// search form to input search criteria //-->
    <form th:action="@{/search/results}" method="post">
        <h2>Search by:</h2>

        <!--// radio buttons for selecting the type of search //-->
        <p>
            <span th:each="column : ${columns}">
                <input type="radio" name="searchType" th:id="${column.key}" th:value="${column.key}" th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <!--// text input for entering the search keyword //-->
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <!--// submit button for the search form //-->
        <input type="submit" value="Search" />
    </form>

    <!--// horizontal rule, visual separator //-->
    <hr />

    <!--// displays search results in a table format //-->
    <!--// loops to display each job's details //-->
    <table class="job-listing" th:each="job : ${jobs}">
        <tbody>
        <tr>
            <td>ID</td>
            <td th:text="${job.id}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${job.name}"></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td th:text="${job.employer}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${job.location}"></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td th:text="${job.positionType}"></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td th:text="${job.coreCompetency}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
